body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: 1em;
  line-height: 1.75em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

.toc {
  position: absolute;
  width: 275px;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 !important;
}

main {
  position: absolute;
  left: 275px;
  top: 0;
  right: 0;
  bottom: 0;
}

main article {
  padding: 3em 1em;
}
/*
.article {
  min-height: 100%;
  padding-bottom: 20em;
}
.article .masthead {
  display: block;
  min-height: 100px;
}
.article pre {
  background-color: #eee;
  padding: 1em;
  font-size: 0.9em;
}
.article code {
  background-color: #eee;
  padding: 0.1em 0.25em;
  font-size: 0.9em;
} */
